<h4 class = 'invited'><%= @user.inviter_name %> wants you to join <%= @user.inviter_team.name %></h4>

<%= form_tag({controller: "teams", action: "accept_or_decline"}, method: "post") do |f| %>
  <div class="actions">
    <%= submit_tag "accept", name: "invite_params", class: 'button--discrete', :id => 'success' %>
    <%= submit_tag "decline", name: "invite_params", class: 'button--discrete', :id => 'warning' %>
  </div>
<% end %>
