<h4 class = 'invited'><%= @user.inviter_name %> wants you to join <%= @user.inviter_team.name %></h4>

<%= form_tag do |f| %>

  <%= hidden_field_tag(:invitation_token, @user.invitation_token) %>

  <div class="actions">
    <%= submit_tag "Accept", name: 'accept', :class => 'button--invited', :id => 'accept' %>
    <%= submit_tag "Decline", name: 'decline', :class => 'button--invited', :id => 'decline' %>
  </div>

<% end %>
