<h4 class = 'invited'><%= @user.inviter_name %> wants you to join <%= @user.inviter_team.name %></h4>

<%= form_tag do |f| %>

  <div class="actions">
    <%= submit_tag "Accept", name: 'accept', :class => 'button--discrete', :id => 'success' %>
    <%= submit_tag "Decline", name: 'decline', :class => 'button--discrete', :id => 'warning' %>
  </div>

<% end %>
