<p id="notice"><%= notice %></p>

<p>
    <strong>Users invited to join <%= @team.name %></strong>
</p>
<% if @invitations.nil? || @invitations.empty? %>
No invitations at the moment.
<% else %>
<table>
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th></th>
  </thead>
  <tbody>
    <% @invitations.each do |invitation| %>
    <% @invitation = invitation %>
    <% if @invitation.receiver_id %>
    <% @user = User.find(@invitation.receiver_id) %>
    <tr>
      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
      <td><%= @user.email %></td>
      <td><%= render 'remove' %></td>
    </tr>
    <% else %>
    <tr>
      <td></td>      
      <td></td>      
      <td><%= @invitation.email %></td>      
      <td><%= render 'remove' %></td>      
    </tr>    
    <% end %>    
    <% end %>    
  </tbody>
</table>
<% end %>
<% if @team.users.length < 8 %>
   <%= link_to 'Invite a user!', action: 'invite' %>
<% end %>
<p><%= link_to 'Back to ' + @team.name, @team %></p>
