<div class="left">
<p id="notice"><%= notice %></p>

<%= render 'invitation' if current_user.invited? %>

<h2>Team Leaderboard</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <% if current_user.is_member?(team) %>
          <td><%= link_to team.name, team %></td>
        <% else %>
          <td><%= team.name %></td>
        <% end %>
	      <td><%= team.score.floor %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% unless @user.team %>
  <%= link_to 'Create a Team', new_team_path, class: "button" %>
<% else %>
  <%= link_to 'Invite a Friend', new_user_invitation_path, class: "button" %>
<% end %>
<%= link_to 'Add a Bill', new_bill_path, class: "button" %>
</div>
<div class="right">
  <div id="tips_display">
    <%= render 'tips/rand' %>
  </div>
  <div id="tips_vote">
    <%= render 'tips/vote' %>
    </div>
</div>
