<p id="notice"><%= notice %></p>

<h1>Leaderboard</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team %></td>
	      <td><%= team.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %> | <%= link_to 'New bill', new_bill_path %>