<p id="notice"><%= notice %></p>

<p>
  <% if @team.image_url %>
  <%= image_tag @team.image_url %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
<strong>Team Members</strong>
</p>
<table>
  <tbody>
    <% @team.users.each do |user| %>
    <% @user = user %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.score %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Leave team', leave_team_path(@team) %> |
<%= link_to 'Edit', edit_team_path(@team) %>
