<p id="notice"><%= notice %></p>

<div class="row teamCenter">
  <div class="small-4 column"></div>
  <div class="small-4 column">
    <% if @team.image_url %>
      <%= image_tag @team.image_url, class: "team_image" %>
    <% end %>
    <h2><%= @team.name %></h2>
  </div>
  <div class="small-4 column"></div>
</div>

<div class="row teamCenter">
  <% @team.users.each do |user| %>
    <div class="small-6 column">
      Email:
      <br />
      <p>
        <%= user.email %>
      </p>
    </div>
    <div class="small-6 column">
      Score:
      <br />
      <p>
        <%= user.score %>
      </p>
    </div>
  <% end %>
</div>

<div class="row teamCenter">
  <div class="small-12 column">
    <%= link_to 'Invite a Friend', new_user_invitation_path, class: "button" %>
    <%= link_to 'Leave team', leave_team_path(@team), class: 'button', id: 'warning' %>
    <%= link_to 'Edit', edit_team_path(@team), class: 'button', id: 'action'  %>
  </div>
</div>
