<p id="notice"><%= notice %></p>

<div class="row">

<div id="showImage">
    <% if @team.image_url %>
    <%= image_tag @team.image_url %>
    <% end %>
</div>

<div id="showTable">

  <table>
    <caption>
      <h2><%= @team.name %></h3>
    </caption>

    <tbody>
      <% @team.users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.score %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div id="teamButs">
    <%= link_to 'Invite a Friend', new_user_invitation_path, class: "button" %>
    <%= link_to 'Leave team', leave_team_path(@team), class: 'button', id: 'warning' %>
    <%= link_to 'Edit', edit_team_path(@team), class: 'button', id: 'action'  %>
  </div>

</div>
