<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @user.street_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @user.unit %>
</p>

<p>
  <% if @team %>
  <strong>Team:</strong>
  <%= @team.name %>
  <%= link_to 'Go to team' @team.name, @team %>
  <% else %>
  <%= link_to 'Make a new team', new_team_path %>
  <% end %>
  <% if @invitations %>
  <%= link_to "Teams you've been invited to:", invitation_path %>
  <% end %>
</p>

<%= link_to 'New Bill',  %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
