<p id="notice"><%= notice %></p>

<p>
  <% if @user.image %>
  <%= image_tag @user.image %>
  <% end %>
</p>

<p>
<%= profile_complete_meter(@user) %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @user.street_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone_string %>
</p>

<p>
  <% if @user.unit.present? %>
  <!-- <%= @user.unit %> Does not work -->
  <% else %>
  <strong>Unit:</strong>
  <%= link_to 'Create', new_unit_path %>
  <% end %>
</p>

<p>
  <strong>Team:</strong>
  <% if @user.team %>
  <% @team = @user.team %>
  <%= link_to @team.name, @team %>
  <% else %>
  <% if @user.invitations.length > 0 %>
  <%= link_to 'Join a team!', invitations_path %> |
  <% end %>
  <%= link_to 'Create a team!', new_team_path %>
  <% end %>
</p>

<%= link_to 'Edit', edit_current_user_path %> |
<%= link_to 'Change password', devise_edit_user_path %>
