<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="billFields">
  <div class="field">
    <%= f.label :bill_received, "Date Bill is Due" %><br>
    <%= f.text_field :bill_received, :id=> "datepicker" %>
  </div>

  <div class="field">
    <%= f.label :usage, "Electricity used (kwh):" %><br>
    <%= f.text_field :usage, :id => "usage" %>
  </div>

  <%= f.fields_for :units do |units_form| %>
    <div class="field">
      <%= units_form.label :number_occupants, "Number of Occupants in Your Home or Apartment" %><br>
      <%= units_form.text_field :number_occupants, :id => "occupants" %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit :class => 'button button--action' %>
  </div>
</div>

<% end %>
