<section class="hero">
  <div class="row intro">
    <div class="small-centered medium-uncentered medium-12 columns">
      <h1>EnerSave</h1>
      <p>Save money and the planet by competing with friends to lower your electric bill.</p>
      <p><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: 'button' %></p>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="small-12 medium-5 columns">
      <h2>Get Started</h2>
      <%= render 'form' %>
    </div>
    <div class="small-12 medium-5 columns">
      <h3>Compare your usage with neighbors</h3>
      <%= image_tag('sample-graph.png') %>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="small-12 columns">
      <div class="key-features">
        <h2>Join Enersave Today</h2>
        <div class="small-4 column pad">
          <%= image_tag('enersaveMoney.png') %>
          <p id="ener">Reduce Your Energy Costs!</p>
          <p>Get access to energy saving tips
            and become more aware of your spending</p>
        </div>
        <div class="small-4 column pad">
          <%= image_tag('enersavePeople.jpg') %>
          <p>Compete with friends!</p>
          <p>Invite your friends to join your team,
            and work together to earn great prizes</p>
        </div>
        <div class="small-4 column">
          <%= image_tag('enersaveBulb.png') %>
          <p>Get rewarded with Prizes!</p>
          <p>Reducing your energy use really pays off
            with great prizes like CFL light bulbs</p>
        </div>
      </div>
    </div>
  </div>
</section>
