<div class="row">
  <div class="small-11 small-centered columns">
    <h1><%= t('graph.title') %></h1>
    <svg id="graph"></svg>
  </div>
</div>
<div class="row">
  <div class="small-11 small-centered columns">
    <% unless @user %>
    <h2>Sign up to learn how to save money on your energy bill:</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up and learn how", class: "button expand" %>
      </div>
      <% end %>
      <% end %>
  </div>
</div>
