<p id="notice"><%= notice %></p>

<h1>Listing Invitations</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Inviter</th>
      <th></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.sender.name %></td>
	<td><%= invitation.inviter.first_name %></td>
	<td><%= invitation.inviter.last_name %></td>
	<td><%= link_to 'Join', join_invitation_path(invitation) %></td>
        <td><%= link_to 'Remove', invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
