<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @invitation.email %>
</p>

<p>
  <strong>Inviter:</strong>
  <%= @invitation.inviter %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @invitation.receiver %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @invitation.sender %>
</p>

<p>
  <strong>Token:</strong>
  <%= @invitation.token %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
