<%= form_for @unit do |u| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :user_building, @user_building do |ub| %>
    <div class="field">
      <%= ub.label :address %><br>
      <%= ub.text_field :address, id: "new-unit-address-input"%>
    </div>
  <% end %>

  <%= u.hidden_field :user_building_id , id: 'user-building-id' %>

  <div class="field">
    <%= u.label :unit_number %><br>
    <%= u.text_field :unit_number %>
  </div>
  <div class="field">
    <%= u.label 'Square Footage' %><br>
    <%= u.number_field :sqfootage %>
  </div>
  <div class="field">
    <%= u.label :number_bedrooms %><br>
    <%= u.number_field :number_bedrooms %>
  </div>
  <div class="field">
    <%= u.label :number_bathrooms %><br>
    <%= u.number_field :number_bathrooms %>
  </div>
  <div class="field">
    <%= u.label :number_rooms %><br>
    <%= u.number_field :number_rooms %>
  </div>
  <div class="field">
    <%= u.label :number_occupants %><br>
    <%= u.number_field :number_occupants %>
  </div>

  <div class="actions">
    <%= u.submit :class => 'button' %>
  </div>
<% end %>
