<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @unit.user_building.address %>
</p>

<p>
  <strong>Unit number:</strong>
  <%= @unit.unit_number %>
</p>

<p>
  <strong>Sqfootage:</strong>
  <%= @unit.sqfootage %>
</p>

<p>
  <strong>Number bedrooms:</strong>
  <%= @unit.number_bedrooms %>
</p>

<p>
  <strong>Number bathrooms:</strong>
  <%= @unit.number_bathrooms %>
</p>

<p>
  <strong>Number rooms:</strong>
  <%= @unit.number_rooms %>
</p>

<p>
  <strong>Number occupants:</strong>
  <%= @unit.number_occupants %>
</p>

<p>
  <strong>Occupants:</strong>
  <table>
    <tbody>
      <% @unit.users.each do |user| %>
      <tr>
	<td><%= user.first_name %></td>
	<td><%= user.last_name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</p>  
<%= link_to 'Edit', edit_unit_path(@unit) %>
