<%= form_for(@user_tip, remote: true) do |f| %>
  <% if @user_tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_tip.errors.count, "error") %> prohibited this user_tip from being saved:</h2>

      <ul>
      <% @user_tip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.text_area :feedback %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'button' %>
  </div>
<% end %>
