<p id="notice"><%= notice %></p>

<h1>Listing Landlords</h1>

<table>
  <thead>
    <tr>
      <th>Citybuilding</th>
      <th>Team</th>
      <th>Unit</th>
      <th>Userbuilding</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @landlords.each do |landlord| %>
      <tr>
        <td><%= landlord.CityBuilding %></td>
        <td><%= landlord.Team %></td>
        <td><%= landlord.Unit %></td>
        <td><%= landlord.UserBuilding %></td>
        <td><%= landlord.User %></td>
        <td><%= link_to 'Show', landlord %></td>
        <td><%= link_to 'Edit', edit_landlord_path(landlord) %></td>
        <td><%= link_to 'Destroy', landlord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Landlord', new_landlord_path %>
