<p id="notice"><%= notice %></p>

<p>
  <strong><%= @tip.text %></strong>
</p>
<strong>Results:</strong>
Worked: <%= @tip.liked_votes %><br>
Didn't work: <%= @tip.disliked_votes %><br>
<% url = 'https://www.enersaveapp.org' %>
<% via = 'https://www.enersaveapp.org' %>
<%= social_share_button_tag(@tip.text, :url => url, :via => via, :popup => true) %>
