<p id="notice"><%= notice %></p>

<p>
  <strong><%= @tip.text %></strong>
</p>
Details:<br>
<%= @tip.details %></br>
<br>
  <strong>Results:</strong></br>
  Worked: <%= @tip.liked_votes %><br>
  Didn't work: <%= @tip.disliked_votes %><br>
<%= render 'share' %>
