<p id="notice"><%= notice %></p>

<p>
  <strong><%= @tip.text %></strong>
</p>
<p>
  <% if UserTip.select { |usertip| usertip.user_id == current_user.id && usertip.tip_id == @tip.id }.empty? %>
<%= render 'vote' %>
<% else %>
  <strong>Results:</strong>
  Worked: <%= @tip.worked_votes %><br>
  Didn't work: <%= @tip.failed_votes %><br>
  Won't try: <%= @tip.skipped_votes %><br>
<% end %>
</p>
