<p id="notice"><%= notice %></p>

<p>
  <h1><%= @tip.text %></h1>
</p>
<% unless @tip.details == "" %>
  <%= simple_format(@tip.details) %>
<% end %>
  <strong>Results:</strong></br>
  Liked: <%= @tip.liked_votes %><br>
  Disliked: <%= @tip.disliked_votes %><br>
<br>
<%= render 'share' %>
