<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "EnerSave" %></title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Ubuntu:400,500' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application", debug: false %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">EnerSave</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <% if user_signed_in? %>
            <a href="#"><%= current_user.first_name %></a>
            <ul class="dropdown">
              <li><%= link_to "My profile", user_path(current_user) %></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            </ul>
          <% else %>
            <a href="#">Account</a>
            <ul class="dropdown">
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Log In', new_user_session_path %></li>
            </ul>
          <% end %>
        </li>
      </ul>
    </section>
    </nav>

    <div class="row">
      <%= yield %>
    </div>
  </body>
</html>
