<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "EnerSave" %></title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Ubuntu:400,500' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application", debug: false %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
        <ul class="content">
          <li class="logo">
            <a href="/"><%= inline_svg("logo-h.svg") %></a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-right" id="dropdown-hover">
              <%= link_to current_user.first_name_or_email, users_me_path, class: 'user-name' %>
              <%= inline_svg 'icon-arrow-down.svg', class: 'dropdown-arrow' %>
              <div class='dropdown display-none' id='name-dropdown-list'>
                <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
              </div>
            </li>
          <% else %>
            <li class="nav-right">
                <%= link_to 'Sign Up', new_user_registration_path %>
            </li>
            <li class="nav-right">
              <%= link_to t('navigation.sign_in'), new_user_session_path %>
            </li>
          <% end %>
            <li class="nav-right">
              <a href="http://goo.gl/forms/6frvqqxM1LJy1hqm2">Feedback</a>
            </li>
          <li class="nav-right">
            <a href="javascript:history.back()">Back</a>
          </li>
        </ul>
      </ul>
    </nav>

    <div class="row">
      <div class="content-wrap">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
